@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Cool infinite background scrolling animation. * Twitter: @kootoopas */
/* Exo thin font from Google. */
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
 @-webkit-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-moz-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-o-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-webkit-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @-moz-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @-o-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
/* Main styles */
.grid-background {
	 color: #999;
	/* img size is 50x50 */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC");
    background-repeat: repeat;
    background-position: 0 0;
    background-color: #141e1c;  /* Apply a red tint */
    background-blend-mode: multiply;
    
	 -webkit-animation: bg-scrolling-reverse 0.92s infinite;
	/* Safari 4+ */
	 -moz-animation: bg-scrolling-reverse 0.92s infinite;
	/* Fx 5+ */
	 -o-animation: bg-scrolling-reverse 0.92s infinite;
	/* Opera 12+ */
	 animation: bg-scrolling-reverse 0.92s infinite;
	/* IE 10+ */
	 -webkit-animation-timing-function: linear;
	 -moz-animation-timing-function: linear;
	 -o-animation-timing-function: linear;
	 animation-timing-function: linear;
}

.grid-background:after {
    background-color: blue;
    transition: background-color .5s;

}

/* @keyframes move-it {
    0% {
      background-position: initial;
    }
    100% {
      background-position: 100px 0px;
    }
  }
  
.content {  
    background: repeating-linear-gradient(
    45deg,
    #141e1c,
    #141e1c 5%,
    #13191a 5%,
    #13191a 10%
  );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
  } */