@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');

body {
    background: linear-gradient(315deg, rgba(200, 75, 135, 1) 15%, rgba(76, 140, 60, 1) 50%, rgba(152, 205, 60, 1) 85%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    margin: 0;
    padding: 0;
}

.wave-parent {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-attachment: fixed;
    z-index: 1; /* Lower z-index */
    position: relative; /* Add positioning */
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 19em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: 0; /* Lower z-index */
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
    z-index: 0; /* Ensure this wave is also behind */
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
    z-index: 0; /* Ensure this wave is also behind */
}

.wave-title {
    color: #fff;
    z-index: 0; /* Lower z-index */
    position: fixed; /* Add positioning */
    max-width: 900px;
    left: 50%;
    transform: translateX(-50%);
    /* align automatically to center */
}

.container {
    width: 100%; /* Ensure full width */
    max-width: 100%; /* Prevent horizontal scrolling */
    padding: 0;
    z-index: 2; /* Ensure content is above waves */
    position: relative; /* Ensure it respects z-index */
}

.content {
    /* background: linear-gradient(135deg, #111b19 0%, #344238 50%, #111b19 100%); */
    background: rgb(19, 25, 26);
    border-top: #66dd9c 3px solid;
}

.gradient-overlay {
    top: 0; 
    left: 0; 
    width: 100%; 
    pointer-events: none; 
    z-index: 3; 
    /* height: 0.5vh;
    background-color: rgb(255, 255, 255);  */
    height: 5vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(74, 138, 96)  ); 
}

.content-limiter {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
}

.section {
    margin: 50px auto 75px auto;
}

.section img {
    margin: auto;
    width: 19vh;
    height: auto;
}

.projects {
    height: auto;
}

.projects h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.projects p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.section h1 {
    margin-bottom: 40px;
    text-align: center;
}

.projects {
    position: relative; /* Ensure the pseudo-element is positioned relative to this container */
    z-index: 1; /* Set a stacking context */
}

.projects::before {
    font-family: "IBM Plex Sans", serif; /* Use a custom font */
    font-weight: 700;
    content: "FEATURED PROJECTS"; /* The background text */
    position: absolute; /* Position it relative to .projects */
    top: 49%; /* Center vertically */
    left: 50%; /* Center horizontally */
    line-height: 1;
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    font-size: 16vw; /* Adjust size as needed */
    color: rgba(0, 0, 0, 0.1); /* Light color for subtlety */
    z-index: -1; /* Place behind the .projects content */
    pointer-events: none; /* Ensure the text doesn't interfere with user interactions */
}

.project-images button {
    margin: auto;
    display: inline;
    vertical-align: middle;
    font-size: 2.5rem;
}
.project-images img {
    display: inline;
}


@media (min-width: 761px) {
    .projects::before {
        font-size: 9vw; /* Adjust size as needed */
        white-space: nowrap; /* Prevent text wrapping */
    }
}

@media (max-width: 760px) {
    .content-limiter {
        max-width: 90%;
    }
}

p {
    text-align: justify;
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

