@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');

body {
    background: linear-gradient(315deg, rgba(200, 75, 135, 1) 15%, rgba(76, 140, 60, 1) 50%, rgba(152, 205, 60, 1) 85%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    margin: 0;
    padding: 0;
    font-family: "Rubik", serif; /* Use a custom font */
    line-height: 1;
}

.wave-parent {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-attachment: fixed;
    z-index: 1; /* Lower z-index */
    position: relative; /* Add positioning */
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 19em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: 0; /* Lower z-index */
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
    z-index: 0; /* Ensure this wave is also behind */
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
    z-index: 0; /* Ensure this wave is also behind */
}

.wave-title {
    color: #fff;
    z-index: 0; /* Lower z-index */
    position: fixed; /* Add positioning */
    max-width: 900px;
    left: 50%;
    transform: translateX(-50%);
    /* align automatically to center */
}

.container {
    width: 100%; /* Ensure full width */
    max-width: 100%; /* Prevent horizontal scrolling */
    padding: 0;
    z-index: 2; /* Ensure content is above waves */
    position: relative; /* Ensure it respects z-index */
}

.content {
    /* background: linear-gradient(135deg, #111b19 0%, #344238 50%, #111b19 100%); */
    background: rgb(19, 25, 26);
    border-top: #66dd9c 3px solid;
}

.gradient-overlay {
    top: 0; 
    left: 0; 
    width: 100%; 
    pointer-events: none; 
    z-index: 3; 
    /* height: 0.5vh;
    background-color: rgb(255, 255, 255);  */
    height: 5vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(74, 138, 96)  ); 
}

.content-limiter {
    width: 1400px;
    max-width: 85%;
    margin: 0 auto;
    padding-top: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced out */
    margin: 50px auto 80px auto;
}

.section img {
    margin: auto;
    height: 100%;
    width: auto;
    object-fit: cover;
    box-shadow: 0 0 12px #66dd9c;
}

.projects {
    height: auto;
}

.projects h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 7px;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    color: #66dd9c;
}

.projects p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.section h1 {
    margin-bottom: 40px;
    text-align: center;
}

.section-text {
    margin: auto 0;
    padding: 0;
}

.projects img {
    width: 19vh;
    box-shadow: none;
}

.projects {
    position: relative; /* Ensure the pseudo-element is positioned relative to this container */
    z-index: 1; /* Set a stacking context */
}

.projects::before {
    font-family: "IBM Plex Sans", serif; /* Use a custom font */
    font-weight: 700;
    content: "FEATURED PROJECTS"; /* The background text */
    position: absolute; /* Position it relative to .projects */
    top: 49%; /* Center vertically */
    left: 50%; /* Center horizontally */
    line-height: 1;
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    font-size: 16vw; /* Adjust size as needed */
    color: rgba(0, 0, 0, 0.1); /* Light color for subtlety */
    z-index: -1; /* Place behind the .projects content */
    pointer-events: none; /* Ensure the text doesn't interfere with user interactions */
    text-align: center;
}

#client-review::before {
    font-family: "IBM Plex Sans", serif; /* Use a custom font */
    font-weight: 700;
    content: "CONTACT"; /* The background text */
    position: absolute; /* Position it relative to .projects */
    top: 49%; /* Center vertically */
    left: 50%; /* Center horizontally */
    line-height: 1;
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    font-size: 16vw; /* Adjust size as needed */
    color: rgba(0, 0, 0, 0.1); /* Light color for subtlety */
    z-index: -1; /* Place behind the .projects content */
    pointer-events: none; /* Ensure the text doesn't interfere with user interactions */
    text-align: center;
}


.project-images button {
    display: inline;
    vertical-align: middle;
    font-size: 2.5rem;
}

.project-images img {
    display: inline;
}

p {
    font-family: "Rubik", serif; /* Use a custom font */
    font-weight: 200;
}

li a {
    color: #ffffff;
    text-shadow: 0 0 15px #000000;
}

.section p {
    /* font-size: 1.2dvb; */
    font-size: 1vmax;
    line-height: 1;
    color:#f3f3f3;
    margin-top: 10px;
    text-align: justify;
}

.section h2 {
    font-family: "IBM Plex Sans", serif; /* Use a custom font */
    font-weight: 600;
    font-size: 2.25vmax;
    color:#66dd9c;
    line-height: 0.8;
    margin-bottom: 4px;
}

.title-font {
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
}

#section-subtitle, .section-text h3 {
    font-weight: 300;
    color:#27aa62;
    line-height: 0.9;
    font-size: 0.9vmax;
}

.section .section-link {
    position: relative;
    font-size: 1vmax;
    font-family: "Rubik", serif;
    font-weight: 300;
    color: #5abd87;
    padding-top: 17px
}

.section img {
    border-radius: 8px;
}

@media (min-width: 761px) {
    .projects::before {
        font-size: 9vw; /* Adjust size as needed */
        white-space: nowrap; /* Prevent text wrapping */
    }
}

.project-title {
    font-size: 2.1vmax;
    color: #66dd9c;
}

.project-description {
    font-size: 1.1vmax;
    font-weight: 300;
}


#client-profile, #client-reviews {
    text-align: left;
    display: inline-block;
}

#client-reviews {
    width: calc(100% - 15vh - 20px - 20px - 20px - 20px - 20px - 20px);
    height: auto;
    vertical-align: middle;
}


#client-profile {
    height: 15vh; 
    width: 15vh;
    vertical-align: middle;
    margin-right: 20px;
}

#client-profile img {
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: none;
    box-shadow: #66dd9c 0 0 12px;
}

#satisfaction-title {
    text-align: center;
}

#client-reviews-wrapper button {
    color: white;
    font-size: 1.75rem;
}

#blog-text {
    overflow: hidden;
    position: relative;
    height: calc(0.89em * 10); /* exactly three lines */
    font-size: 0.85em;
}
#blog-text::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 0.9em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #192c23 50%);
}

.blog-block {
    /* margin: 10px auto 10px auto; */
    display: block;
    width: 100%;
    height: 242px;
    padding: 3.1% 3.5%;
    background-color: #192c23;
    border-radius: 5px;
}

.blog-block p {
    margin: 0;
}

.blog-block h3 {
    font-size: 1.55em;
}

@media (max-width: 760px) {



    .content-limiter {
        max-width: 90%;
    }

    .section-text {
        margin: 0 auto;
        width: 95%;
    }

    .section h2 {
        font-size: 200%;
    }

    .project-title {
        font-size: 160%;
    }



    #section-subtitle, .section-text h3 {
        font-size: 110%;
    }

    #client-profile {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
    }

    #client-reviews {
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    #client-reviews p {
        text-align: center;
    }

    #client-profile img {
        margin-right: 0;
    }

    .section p {
        text-align: left;
    }

    .project-description {
        font-size: 100%;
    }


    .section p {
        font-size: 90%;
    }

    .section .section-link {
        font-size: 90%;
        margin-top: 7px
    }
}

p {
    color: white;
}

h1 {
    color: white;
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
}

h2 {
    color: white;
    font-family: "IBM Plex Sans", serif;
}

  

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}





.scroller__inner {
    padding-block: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller__inner li {
    background-color: #165532;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    border-radius: 0.3rem;
    color: #e1ffef;
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    box-shadow: 0 0 7px #66dd9c;
}
  
.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
  
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
}
  
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
  
.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}
  
.scroller[data-speed="fast"] {
    --_animation-duration: 60s;
}
  
.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}
  
@keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
}


